:root {
  color-scheme: light;
  /* Item Colors */
  --headercolor: #4a4d58
  --buttoncolor: #FF9B37 
  --ourgold: #deb368

  /* Text Colors */
  --textcolor: #faf1eb
  --link-color: #d2d2c7;
  /*
  - I think we might not use these.
  --link-hover: #8093c9;
  --link-visited: #b4b4b4;
  */

  /* Text Styling */
  --font: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  --padding-var: 10px;
  font-family: Georgia, 'Times New Roman', serif;
}

* {
  box-sizing: border-box;
}

body {
  background-image: var(--bg-image);
  width: 100%;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: fit-content;
}

/* Main items */
header {
  background-color: var(--headercolor);
  /* TODO: add a size and width */
}

/* Text Items */
p {
  font-size: 0.75rem;
  font: var(--font);
  color: var(--textcolor);
  text-wrap: pretty;
}

/* Screen-size Accessibility */
@media only screen and (max-width: 1000px) {
  .container {
      max-width: 90%;
      grid-template:
          "header"
          "main";
  }
}